<<<<<<< HEAD
<h1 class = 'modify-title'>New Question</h1>
=======
<h1>New Question</h1>
<ul class="nav nav-pills">
  <li role="presentation" class="active"><a href="_form">Home</a></li>
  <li role="presentation"><a href="#">Profile</a></li>
  <li role="presentation"><a href="#">Messages</a></li>
</ul>
>>>>>>> f0e1573d6e6ffc7b3bb35316eceb0e8b566d8efb

<%= render 'form' %>

<%= link_to 'Back', questions_path %>
