// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#question_content{
  width: 75%;
  height: auto;
  }

.modify-title{
	text-align: center;
}

.string{

	width: auto;
	height: auto;
}

.collection{
	
	width: 48%;
	height: auto;
}
.simple_form{

	padding-left:33%; 
	padding-top: 5%;
}
